@model InventarioIFSP.Models.Inventario

@{
    ViewBag.Title = "Detalhamento de inventário";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";

    List<InventarioIFSP.Models.ItemInventario> itens = TempData["itens"] as List<InventarioIFSP.Models.ItemInventario>;
}

<div class="row justify-content-center text-center">
    <div class="col-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-@TempData["msg_type"] text-center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @TempData["msg"]
        </div>
    }
}
<div class="row justify-content-center">
    <div class="col-12">
        <h3><b>Inventário:</b> @Model.Ano/@Model.Semestre</h3>
        <p><b>Usuário:</b> @TempData["usuario"]</p>
        <p><b>Emitido em:</b> @DateTime.Now</p>
    </div>
</div>
    
<div class="row justify-content-center">
    <div class="col-12">
        <table class="table table-stripped">
                <tr>
                    <td><b>Patrimônio</b></td>
                    <td><b>Categoria</b></td>
                    <td><b>Localização</b></td>
                    <td><b>Bloco</b></td>
                    <td><b>Status</b></td>
                </tr>
            @foreach(InventarioIFSP.Models.ItemInventario i in itens)
            {
                <tr>
                    <td>@i.Patrimonio</td>
                    <td>@i.Categoria</td>
                    <td>@i.Localidade</td>
                    <td>@i.Bloco</td>
                    <td>@i.Status</td>
                </tr>
            }
        </table>
    </div>
</div>

