<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - INVENTÁRIO CAE IFSP-PRC</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("INVENTÁRIO CAE IFSP-PRC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid align-content-end align-self-end">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Início", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sobre", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    @if (Session["usuario_nome"] != null) // aqui verifica se está logado
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Inventário", "Index", "Inventario", null, new { @class = "nav-link" })
                        </li>

                        if (Convert.ToInt32(Session["usuario_nivel"]) < 2)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Itens", "Index", "Item", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Relatórios", "Relatorios", "Inventario", null, new { @class = "nav-link" })
                            </li>
                        }
                        if (Convert.ToInt32(Session["usuario_nivel"]) < 1)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Usuários", "Index", "Usuario", null, new { @class = "nav-link" })
                            </li>
                        }
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Session["usuario_nome"]
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @Html.ActionLink("Minha conta", "MinhaConta", "Usuario", new { @class = "dropdown-item" })
                                        @Html.ActionLink("Sair", "Logout", "Usuario", new { @class = "dropdown-item" })
                                    </div>
                                </div>
                            </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Usuario", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - INVENTÁRIO CAE IFSP-PRC</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/main.js")
    @RenderSection("scripts", required: false)
</body>
</html>
